{% extends 'layout.html' %}
{% block content %}
<!-- Build Section -->
<div class="hero">
	<h2><i class="fas fa-rocket"></i> Get Your Template Today!</h2>
	<p>Personalize your landing page and transform your AI model into SaaS - no coding required.</p>    
</div>
<div class="container-build container mt-0">
	<div class="row">
		<div class="col-lg-10 offset-lg-1">
			<div id="alertPlaceholder" class="container mt-3"></div>
			<form action="{{ url_for('main.preview') }}" id="buildForm" method="POST">
				<h3>1. Customize Your Template</h3>
				<p>Configure the look and feel of your SaaS template.</p>
				<hr>
				<div class="form-group mt-3">
					<label for="app_name">Site Name:</label>
					<input type="text" class="form-control" id="app_name" name="app_name" placeholder="Bullship" required>
				</div>
				<div class="form-group mt-3">
					<label for="app_tagline">Site Tagline:</label>
					<input type="text" class="form-control" id="app_tagline" name="app_tagline" placeholder="The Fastest SaaS Solution in the West!" required>
				</div>
				<div class="form-group mt-3">
					<label for="app_description">Site Description:</label>
					<textarea class="form-control" id="app_description" name="app_description"
						placeholder="Bullship makes it easy to create and launch your AI SaaS platform with a versatile, lightweight template. Harnessing the power of Bootstrap, Flask, and Stripe, Bullship ensures a smooth, scalable, and secure journey from idea to implementation." required></textarea>
				</div>
				<div class="form-group mt-3">
				  <p>Choose a theme:</p>
					<div class="theme-options">
				  <button class="scroll-left" type="button"><i class="fas fa-chevron-left"></i></button>
					{% for theme in themes %}
						<div class="theme-option">
							<input type="radio" id="{{ theme }}" name="app_theme" value="{{ theme }}">
							<label for="{{ theme }}" class="theme-label">
								<img src="{{ url_for('static', filename='img/template_previews/' + theme + '.png') }}" width="200px" height="115px">
								<span class="alt-text">{{ theme }}</span>
							</label>
						</div>
					{% endfor %}
				  <button class="scroll-right" type="button"><i class="fas fa-chevron-right"></i></button>
					</div>
				</div>
				<div class="form-group mt-3">
					<p>Choose a navbar color:</p>
					<div class="mode-options">
						<input type="radio" id="primary" name="app_mode" value="primary" required checked>
						<label for="primary" class="mode-label">Primary (recommended)</label>
						<input type="radio" id="light" name="app_mode" value="light" required>
						<label for="light" class="mode-label">Light</label>
						<input type="radio" id="dark" name="app_mode" value="dark" required>
						<label for="dark" class="mode-label">Dark</label>
					</div>
				</div>
				<br>
				<h3>2. Define Your Input Variables (Optional)</h3>
				<p>Specify the input fields you want users to provide.</p>
				<hr>
				<div id="variables-container" class="form-group mt-3">
					<button type="button" id="add-variable" class="btn btn-secondary mt-3">Add Variable</button>
					<br><br>
				</div>
				<div class="container text-center mt-5">
					<button type="submit" class="btn btn-lg btn-primary">Preview my Site</button>
				</div>
			</form>
		</div>
	</div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
	const form = document.querySelector('form');
	const alertPlaceholder = document.getElementById('alertPlaceholder');
	const themeOptionsContainer = document.querySelector('.theme-options');
	const scrollRightBtn = document.querySelector('.scroll-right');
	const scrollLeftBtn = document.querySelector('.scroll-left');
	let variableCount = 1;

	// Handle form submission
	form.addEventListener('submit', function(e) {
			const themeSelected = document.querySelector('input[name="app_theme"]:checked');
			if (!themeSelected) {
					e.preventDefault();
					displayBootstrapAlert('Please select a theme before submitting.', 'danger');
			}
	});

	// Handle adding more variables
	document.getElementById('add-variable').addEventListener('click', function() {
			variableCount++;
			const container = document.getElementById('variables-container');
			const newVariableGroup = document.createElement('div');
			newVariableGroup.className = 'variable-group';
			newVariableGroup.innerHTML = `
					<div class="variable-group-">
							<button type="button" class="btn btn-danger btn-sm float-right delete-variable">Delete</button>
					</div>
					<div class="variable-group">
							<div class="form-group-variable">
									<label for="var_name_${variableCount}" class="variable-label">Variable Name:</label>
									<input type="text" class="form-control" id="var_name_${variableCount}" name="var_names[]" placeholder="Enter variable name" required>
							</div>
							<div class="form-group-variable">
									<label for="var_type_${variableCount}" class="variable-label">Variable Type:</label>
									<select class="form-control variable-type" id="var_type_${variableCount}" name="var_types[]" required>
											<option value="text">Text Box</option>
											<option value="number">Number</option>
											<option value="dropdown">Dropdown List</option>
									</select>
							</div>
							<div class="form-group-variable dropdown-items-container" style="display: none;">
									<label for="var_items_${variableCount}" class="variable-label">Dropdown Items:</label>
									<input type="text" class="form-control" id="var_items_${variableCount}" name="var_items[]" placeholder="Enter items separated by commas"></textarea>
							</div>
					</div>
					<br>
			`;

			container.appendChild(newVariableGroup);

			// Reattach delete button event listener
			newVariableGroup.querySelector('.delete-variable').addEventListener('click', function() {
					this.closest('.variable-group').remove();
			});

			// Show/hide dropdown items textarea based on selected type
			newVariableGroup.querySelector('.variable-type').addEventListener('change', function() {
					const dropdownContainer = this.closest('.variable-group').querySelector('.dropdown-items-container');
					if (this.value === 'dropdown') {
							dropdownContainer.style.display = 'flex';
					} else {
							dropdownContainer.style.display = 'none';
					}
			});
	});

	// Handle scrolling functionality
	scrollRightBtn.addEventListener('click', function() {
			if (themeOptionsContainer.scrollWidth - Math.ceil(themeOptionsContainer.scrollLeft) <= themeOptionsContainer.offsetWidth) {
					themeOptionsContainer.scrollTo({ left: 0, behavior: 'smooth' });
			} else {
					themeOptionsContainer.scrollBy({ left: 700, behavior: 'smooth' });
			}
	});

	scrollLeftBtn.addEventListener('click', function() {
			if (themeOptionsContainer.scrollLeft === 0) {
					themeOptionsContainer.scrollTo({ left: themeOptionsContainer.scrollWidth, behavior: 'smooth' });
			} else {
					themeOptionsContainer.scrollBy({ left: -700, behavior: 'smooth' });
			}
	});

	// Function to display Bootstrap alert
	function displayBootstrapAlert(message, type) {
			alertPlaceholder.innerHTML = `
					<div class="alert alert-${type} alert-dismissible fade show" role="alert">
							${message}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
							</button>
					</div>`;
	}
});
</script>
{% endblock %}