<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-TZRVNB57K1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-TZRVNB57K1');
	</script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bullship - The Fastest SaaS Solution in the West!</title>
	<link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
	<!-- Bootstrap CSS -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
	{% block head %}{% endblock %}
</head>
<body class="d-flex flex-column h-full">
	<!-- Header -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
			<a class="navbar-brand" href="{{ url_for('main.index')}}">
				<img src="{{ url_for('static', filename='img/bullship_logo.svg') }}" alt="Bullship Logo" width="200" height="75" class="d-inline-block align-top">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
	</nav>
	{% block content %}{% endblock %}
	<br>
	<!-- Footer -->
	<footer class="mt-auto footer mt-auto py-3 bg-dark">
		<div class="container text-center">
			<p style="color:white;">© 2024 Bullship - The Fastest SaaS Solution in the West!<br>All rights reserved.</p>
			<!-- <ul class="list-inline">
				<li class="list-inline-item"><a href="#" class="text-white">Privacy Policy</a></li>
				<li class="list-inline-item"><a href="#" class="text-white">Terms of Service</a></li>
			</ul> -->
		</div>
	</footer>

	<!-- Bootstrap JS and dependencies -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
